.card {
  transition: transform 0.4s ease;
  cursor: pointer;
  z-index: 1;
}

.card img {
  width: 220px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.4s ease;
}


.card.meCard:hover ~ .figmaCard img {
  transform: translateX(100px);
}


.cardContainer.hovering-center .aeCard img {
  transform: translateX(-100px);
}

.card.meCard:hover img {
  transform: scale(1.05);
  z-index: 2;
}

.cardContainer {
    transform: scale(1.0); 
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  
}

.meCard{
  transform: scale(1.05);  
  align-self: center;
  z-index: 2;
  transition: 200ms ease-in-out;
  
}

.meCard:hover{
  transform: scale(1.10);
  filter: drop-shadow(0 0 8px black);

  
}

.aeCard{
  transform: translateX(64px);
  z-index: 0;
  transition: 200ms ease-in-out;
}


.figmaCard{
  transform: translateX(-64px);
  z-index: 1;
  transition: 200ms ease-in-out;
}
