.stack {
  display: flex;
  flex-direction: column;
  min-height: 90.2vh;
  width: 100%;
  background: white;
}

.cardCarouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0; 
  flex: 1;
}


.cardContainer {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 12px; tighter */
}


.card {
  position: absolute;
  transition: transform 0.5s ease, z-index 0.5s ease;
  cursor: pointer;
}

.centerCard {
  transform: scale(0.92) translateX(0);
  z-index: 3;
  filter: drop-shadow(0 0 8px black);
}

.centerCard:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 12px black);
  z-index: 4;
}

.leftCard {
  transform: scale(0.85) translateX(-240px) rotateY(20deg);
  z-index: 1;
}

.rightCard {
  transform: scale(0.85) translateX(240px) rotateY(-20deg);
  z-index: 1;
}

.card img[alt="Me Card"] {
  transform: scale(0.84);
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  color: white;
  border: none;
  font-size: 28px;
  padding: 12px 18px;
  border-radius: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 5;
}

.navButton:hover {
  background: grey;
}

.navLeft {
  left: 300px;
}

.navRight {
  right: 300px;
}
